<h2>New Comment</h2>

<%= form_for [@post, Comment.new] do |f| %>
  
  <p  class="input-small">
    <div class="name"> <%= f.label :name %></div><br />
    <%= f.text_field :name %><br />
  </p>
  
  <p>
    <%= f.label :body %><br />
    <span class="content"><%= f.text_area :body %><br /></span>
  </p>
  
  <p>
    <%= f.submit %><br />
  </p>
<% end %>