<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="row">
    <div class="col-lg-8">
    <h1>
      <strong>Title:</strong>
      <%= @post.title %>
    </h1>

    <p class="lead">
      <strong>Body:</strong>
      <%= @post.body %>
    </p>

    <p  class="lead">
      <strong>User:</strong>
      <%= @post.user %>
    </p>
    <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-primary" %> |
    <%= link_to 'Back', posts_path, class: "btn btn-primary" %>
    </div>
  </div>
  <%= render 'posts/show_comments' %>
  <%= render 'posts/comments' %>
<div>